.header-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    & .header {
        display: inline;
        border-radius: 2rem;
        white-space: nowrap;
        & > * {
            display: inline-block;
        }
        & img {
            width: 70px;
            vertical-align: middle;
        }
        & h1 {
            margin: 0;
            vertical-align: bottom;
        }
    }
}

.games-list-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    ul.games-list {
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 0.2rem;
        grid-template-rows: auto;
        margin: 0;
        padding: 0;
        & li {
            margin: 0.5rem;
            & img {
                width: 20rem;
                height: 8rem;
                color: black;
                background: black;
                border: 3px solid;
                border-radius: 2rem;
                transition: 0.1s;
                object-fit: cover;
                &:hover {
                    transform: scale(1.02);
                    filter: drop-shadow(3px 3px 5px rgba(0,0,0,.17));
                }
            }
        }
    }
}

@media only screen and (max-width: 45rem) {
    .games-list-container ul.games-list {
        grid-template-columns: auto;
    }
}

@media only screen and (min-width: calc(45rem + 1px)) and (max-width: 65rem) {
    .games-list-container ul.games-list {
        grid-template-columns: auto auto;
    }
}
