{% extends "base.html" %}

{% block styles %}
<style>
    @font-face {
        font-family: 'Inconsolata';
        src: url('assets/inconsolata.otf') format('opentype');
    }
    :root {
        font-family: Inconsolata, sans-serif;
        font-size: 18px;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        background-color: #363636;
        min-height: 100vh;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .not-found img {
        border-radius: 20px;
    }
    .button-group {
        margin: 2rem;
    }
    .button {
        background: #79589f;
        border-radius: 8px;
        color: white;
        padding: 12px 25px;
        text-align: center;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="not-found">
        <img width="600" src="https://http.cat/404" alt="404-cat">
    </div>
    <div class="button-group">
        <a class="button" href="/">Return to games</a>
    </div>
</div>
{% endblock %}
