{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block body %}
<div class="header-container">
    <div class="header">
        <div>
            <img src="/images/logo.png"/>
        </div>
        <h1>Joey's Games</h1>
        <div>
            <img src="/images/logo.png"/>
        </div>
    </div>
</div>
<div class="games-list-container">
    <ul class="games-list">
        <li>
            <a href="/platform-party/">
                <img src="/images/platform_party.webp" alt="platform-party" />
            </a>
        </li>
        <li>
            <a href="/snake/">
                <img src="/images/snake.webp" alt="snake" />
            </a>
        </li>
    </ul>
</div>
{% endblock %}
