@font-face {
    font-family: "M Plus Rounded 1c";
    src: url("/static/fonts/MPLUSRounded1c-Bold.woff2") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0 20px;
    font-family: "M Plus Rounded 1c", serif;
}

.logo-secondary {
    display: flex;
    position: absolute;
    color: black;
    margin: 1.2rem;
    & img {
        width: 50px;
    }
    & h2 {
        margin: 0.5rem 0;
    }
    &:hover {
        transform: scale(1.02);
    }
}
